<h1 class="govuk-heading-l"><%= @power.name %></h1>
<p class="govuk-body">Status: <%= @power.fields['status'] %>

<p class="govuk-body"><%= @power.fields['description'] %></p>


<% associations = {
     controllers: @power.control_people,
     agreements: @power.agreements
   } %>

<% associations.each do |name, association| %>
  <% if association.present? %>
    <h2 class="govuk-heading-m"><%= name.to_s.humanize %></h2>

    <ul class="govuk-list">
    <% association.each do |model| %>
      <li>
        <%= link_to model.name, model, class: "govuk-link" %>
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>
