<div class="moj-filter govuk-!-margin-bottom-5">

  <div class="moj-filter__header">

    <div class="moj-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>

  </div>

  <% if @first_letter || @control_person || @isa_status || @power || params[:sort_by].present? %>
    <div class="moj-filter__content">

      <div class="moj-filter__selected">

        <div class="moj-filter__selected-heading">

          <div class="moj-filter__heading-title">
            <h2 class="govuk-heading-m">Selected filters</h2>
          </div>

          <div class="moj-filter__heading-action">
            <p>
              <%= link_to 'Clear filters', root_path, class: "govuk-link govuk-link--no-visited-state" %>
            </p>
          </div>

        </div>

        <%= render(
              'filter_output',
              variable: @control_person,
              label: 'Controller',
              tag_text: @control_person&.name,
              params_to_clear: @applied_filters.except(:controller_filter)
            ) %>

        <%= render(
              'filter_output',
              variable: @power,
              label: 'Power',
              tag_text: @power&.name,
              params_to_clear: @applied_filters.except(:power_filter)
            ) %>

        <%= render(
              'filter_output',
              variable: @isa_status,
              label: 'ISA Status',
              params_to_clear: @applied_filters.except(:isa_status)
            ) %>

        <%= render(
              'filter_output',
              variable: params[:sort_by].present?,
              label: 'Sort by',
              tag_text: "#{params[:sort_by]} #{params[:direction]}",
              params_to_clear: @applied_filters.except(:sort_by, :direction)
            ) %>

        <%= render(
              'filter_output',
              variable: @first_letter,
              label: 'First Letter',
              params_to_clear: @applied_filters.except(:first_letter)
            ) %>
      </div>
    <% end %>

    <div class="moj-filter__options">
      <%= form_tag(root_path, method: :get) do %>
        <%= hidden_field_tag(:sort_by, params[:sort_by]) if params[:sort_by].present? %>
        <%= hidden_field_tag(:direction, params[:direction]) if params[:direction].present? %>

        <button class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
          Apply filters
        </button>


        <div class="govuk-form-group">
          <%= render 'shared/az_nav', applied_filters: @applied_filters %>
          <%= hidden_field_tag(:first_letter, params[:first_letter]) if params[:first_letter].present? %>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="contoller_filter">
            Controller
          </label>
          <select class="govuk-select" id="controller_filter" name="controller_filter">
            <%= content_tag :option, 'Any', value: '' %>
            <%= options_for_select(@control_people, selected: params[:controller_filter]) %>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="power_filter">
            Power
          </label>
          <select class="govuk-select" id="power_filter" name="power_filter">
            <%= content_tag :option, 'Any', value: '' %>
            <%= options_for_select(@powers, selected: params[:power_filter]) %>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="isa_status">
            ISA Status
          </label>
          <select class="govuk-select" id="isa_status" name="isa_status">
            <%= content_tag :option, 'Any', value: '' %>
            <%= options_for_select(Agreement.isa_statuses, selected: params[:isa_status]) %>
          </select>
        </div>
      <% end %>
    </div>
  </div>
</div>

