<%
  page_title = ["Agreements"]
  page_title << "by #{params[:sort_by].humanize} #{params[:direction]}" if params[:sort_by].present?
  page_title << @applied_filters.map{|k,v| "#{k.humanize} =  #{v}"}.to_sentence if @applied_filters.present?
  content_for :page_title, page_title.join(' - ')
%>

<h1 class="govuk-heading-l">Agreements</h1>

<%= render 'filter' %>

<% if @agreements.present? %>

  <%=
    govuk_table do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(
            text: sort_button(:id, root_path, label: 'ID', params: @applied_filters),
            html_attributes: { 'aria-sort' => sort_direction_for(:id) }
          )

          row.with_cell(
            text: sort_button(:name, root_path, params: @applied_filters),
            html_attributes: { 'aria-sort' => sort_direction_for(:name) }
          )

          row.with_cell(
            text: 'Power'
          )

          row.with_cell(
            text: sort_button(:end_date, root_path, label: 'End Date', params: @applied_filters),
            html_attributes: { 'aria-sort' => sort_direction_for(:end_date) }
          )

          row.with_cell(
            text: 'ISA status'
          )
        end
      end

      table.with_body do |body|
        @agreements.each do |agreement|
          body.with_row do |row|
            row.with_cell(
              text: agreement.fields['ID'],
              html_attributes: { class: 'agreement-id' }
            )

            row.with_cell(
              text: link_to(agreement.name, agreement, class: "govuk-link"),
              html_attributes: { class: 'agreement-name' }
            )

            row.with_cell(
              text: agreement.powers.map {|p| link_to(p.name, p, class: "govuk-link")}.join(",").html_safe,
              html_attributes: { class: 'agreement-powers' }
            )

            row.with_cell(
              text: agreement.fields['End_date'],
              html_attributes: { class: 'agreement-end-date' }
            )

            row.with_cell(
              text: agreement.fields['ISA_status'],
              html_attributes: { class: 'agreement-isa-status' }
            )
          end
        end
      end
    end
  %>

  <%= govuk_pagination(pagy: @pagy) %>
  <p class="govuk-body">
    Showing Agreements <%= @pagy.from %> to <%= @pagy.to %> of <%= @pagy.count %>.
  </p>

<% else %>
  <h2 class="govuk-heading-m">Records not found</h2>
  <p class="govuk-body">No records were found that match the current filter</p>
<% end %>
