<%=
  govuk_table do |table|
    table.with_caption(size: 'l', text: 'Agreements')

    table.with_head do |head|
      head.with_row do |row|
        row.with_cell(text: sort_button(:id, root_path, label: 'ID'), html_attributes: { 'aria-sort' => sort_direction_for(:id) })
        row.with_cell(text: sort_button(:name, root_path), html_attributes: { 'aria-sort' => sort_direction_for(:name) })
      end
    end

    table.with_body do |body|
      @agreements.each do |agreement|
        body.with_row do |row|
          row.with_cell(text: agreement.fields['ID'], html_attributes: { class: 'agreement-id' })
          row.with_cell(text: link_to(agreement.name, agreement, class: "govuk-link"), html_attributes: { class: 'agreement-name' })
        end
      end
    end
  end
%>

<%= govuk_pagination(pagy: @pagy) %>
<p class="govuk-body">
  Showing Agreements <%= @pagy.from %> to <%= @pagy.to %> of <%= @pagy.count %>.
</p>
