<% content_for :page_title, "Agreement - #{@agreement.fields['ID']}" %>

<h1 class="govuk-heading-l"><%= @agreement.name %></h1>

<% fields_to_show = [
    'Purpose', 'Benefits', 'Disclosed Information', 'Method', 'Contact', 'Start_date', 'End_date', 'Review_date',
    'Retention Period', 'ISA_status', 'ID', 'Notes'
   ] %>

<dl class="govuk-summary-list">
  <% @agreement.fields.slice(*fields_to_show).each do |key, value| %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><%= key.humanize %></dt>
      <dd class="govuk-summary-list__value"><%= value %></dd>
    </div>
  <% end %>
  <% if @agreement.created_at != @agreement.updated_at %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Updated</dt>
      <dd class="govuk-summary-list__value"><%= @agreement.updated_at.strftime("%d %B %Y") %></dd>
    </div>
  <% end %>
</dl>

<% associations = {
     powers: @agreement.powers,
     controllers: @agreement.control_people,
     processors: @agreement.processors
   } %>

<% associations.each do |name, association| %>
  <% if association.present? %>
    <h2 class="govuk-heading-m"><%= name.to_s.humanize %></h2>

    <ul class="govuk-list govuk-list">
    <% association.each do |model| %>
      <li>
        <%= link_to model.name, model, class: "govuk-link" %>
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>
