<!DOCTYPE html>
<html>
  <head>
    <title><%=
      page_title(
        site_name: "Register of Information sharing agreements",
        additional: ([controller_name.humanize, params[:id]].compact.join(' - ') unless current_page?(root_path)),
        preferred: content_for(:page_title)
      )
    %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <%= govuk_header(service_name: "Register of Information sharing agreements under chapters 1, 2, 3 and 4 of part 5 of the Digital Economy Act 2017") do |header|
          {
            Agreements: root_path,
            Powers: powers_path,
            Controllers: control_people_path,
            Processors: processors_path,
            Updates: update_logs_path,
          }.each do |text, href|
            header.with_navigation_item(text:, href:, active: current_page?(href))
          end
        end %>

    <div class="govuk-width-container ">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <%= content_tag(:p, notice, class: 'notice', style: "color: green") if notice.present? %>
            <%= content_tag(:p, alert, class: 'alert', style: "color: red") if alert.present? %>

            <%= render 'layouts/search_form' %>

            <%= yield %>
          </div>
        </div>
      </main>
    </div>
    <%= govuk_footer %>
  </body>
</html>
